*{
    background-color: black;
}

hr{
    color: darkgrey;
}

.wd-border-after-content{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47,51,54);
}

.wd-main-container{
    width: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(47,51,54);
    margin-left: 420px;
}

.wd-search-tuiter{
    position: relative;
    margin-left: 16px;
    margin-bottom: 0px;
}

.wd-text-box-searchTuiter{
    margin-left: 16px;
    margin-top: 10px;
    height: 25px;
    width: 500px;
    border-radius: 10px;
    background-color: #3A3B3C;
    color: white;
}

#wd-searchImage{
    position: absolute;
    margin-left: 25px;
    margin-top: 17px;
    background-color: transparent;

}

#wd-settingsImage{
    position: absolute;
    right: 10px;
    top:17px;
    margin-right: 16px;
}

input[type="text"]{
    text-indent: 30px;
}

input[type="text"]::placeholder{
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    color:white;
}



.wd-navigation{
    display: flex;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    height:60px;
    display: flex;
    justify-content: space-between;
}
.highlighted{
    color:rgb(29,161,242);
    font-size: 15pt;
    font-weight: bold;
    height:20px;
    padding: 16px;
    margin-left:-10px;
    text-decoration: none;
}

.wd-border-for-hightlighted{
    margin-top: 0px;
    width: 65px;
    border: 3px solid rgb(29,161,242);
    border-radius: 20px;
    margin-left: 20px;
}

.wd-navigation-text{
    color: rgb(110,118,125);
    font-size: 13pt;
    font-weight: bold;
    height:20px;
    padding: 16px;
    margin:0px;
    text-decoration: none;
}

.wd-box{
    width: 592px;

    border-top: 10px;
    border-width: 4px;

    border-style: solid;
    border-color: rgb(47,51,54);
}

.wd-post1{
    position: relative;
    margin-top: -6px;
    font-weight: bold;
    position: relative;
    margin-left: 16px;
    margin-bottom: -5px;
}

.wd-post1-topic{
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 0;
    padding:0px;
}

.wd-post1-title{
    color: white;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
}

.wd-post1-numbers{
    color: rgb(110, 118, 125);
    margin-top: 3px;
    padding:0px;
}

.wd-post1-dots{
    position: absolute;
    right:10px;
    top:-35px;
    color:rgb(110, 118, 125);
    font-size:25px;
    font-weight: bold;
}


.wd-post2{
    font-weight: bolder;
    position: relative;
    margin-left: 16px;
}

.wd-post2-topic{
    color: rgb(110, 118, 125);
    font-size: 12px;
    margin-bottom: 0;
    padding:0px;
}

.wd-post2-title{
    color: white;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
}

.wd-post2-numbers{
    color: rgb(110, 118, 125);
    margin-top: 3px;
    padding:0px;
    font-size: 14px;
}

.wd-post2-dots{
    position: absolute;
    right:10px;
    top:-35px;
    color:rgb(110, 118, 125);
    font-size:25px;
    font-weight: bold;
}

.wd-post3{
    font-weight: bold;
    position: relative;
    margin-left: 16px;
    margin-bottom: 70px;
    margin-top: 10px;
}

.wd-post3-publisher{
    margin-top: -16px;
    margin-left: 17px;
    font-weight: bold;
    color: white;
    font-size: 13px;
    margin-bottom: 0px;
}

#wd-tick-logo{
    position: absolute;
    margin-left: 59px;
    margin-top: -13px;
}

.wd-post3-postedTimings{
    color: rgb(110, 118, 125);
    font-size: 13px;
    position: absolute;
    margin-left: 70px;
    margin-top: -15px;
}

.wd-post3-title{
    margin-top: 5px;
    padding: 0px;
    border: 0px;
    color: white;
}

#wd-newsImage{
    border-radius: 30px;
    position: absolute;
    right:0px;
    margin-right: 16px;
    top:0px;
    width:100px;
    height: 100px;
}

.wd-post4{
    margin-left: 16px;
    margin-top: 0px;
    position: relative;
    font-weight: bold;
    margin-bottom: 70px;

}

.wd-post4-topic{
    color: rgb(110, 118, 125);
    font-size: 13px;

}

.wd-post4-publishedTime{
    color: rgb(110, 118, 125);
    font-size:13px;
    margin-left: 65px;
    margin-top: -28px;
}

.wd-post4-title{
    color: white;
    margin-top: -10px;
}

#wd-covid{
    position: absolute;
    border-radius:30px;
    right: 0px;
    top:-6px;
    margin-right: 16px;
    width:100px;
    height: 100px;
}

.wd-post5{
    margin-left: 16px;
    position: relative;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top:10px;
}

.wd-post5-publisher{
    color: white;
    font-size: 12px;
    margin-left: 16px;
    margin-top: -18px;
}

#wd-tick-logo1{
    position: absolute;
    margin-left: 145px;
    margin-top:-23px;
}

.wd-post5-postedTimings{
    color: grey;
    font-size: 12px;
    margin-left: 160px;
    margin-top:-25px;
}

.wd-post5-title{
    color: white;
    margin-top: -6px;
}

#wd-neuPeople{
    position: absolute;
    right: 0px;
    margin-right: 16px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-top: -55px;
}

.wd-post6{
    font-weight: bold;
    position: relative;
    margin-left: 16px;
    margin-bottom: 20px;
}

.wd-post6-topic{
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 0;
    padding:0px;
}

.wd-post6-title{
    color: white;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
}

.wd-post6-numbers{
    color: rgb(110, 118, 125);
    margin-top: 3px;
    padding:0px;
}

.wd-post6-dots{
    position: absolute;
    right:10px;
    top:-35px;
    color:rgb(110, 118, 125);
    font-size:25px;
    font-weight: bold;
}



.wd-post7{
    margin-left: 16px;
    margin-top: 0px;
    position: relative;
    font-weight: bold;
    margin-bottom: 75px;

}

.wd-post7-topic{
    color: rgb(110, 118, 125);
    font-size: 13px;

}

.wd-post7-publishedTime{
    color: rgb(110, 118, 125);
    font-size:13px;
    margin-left: 89px;
    margin-top: -28px;
}

.wd-post7-title{
    color: white;
    margin-top: -10px;
}

#wd-covid1{
    position: absolute;
    border-radius:30px;
    right: 0px;
    top:1px;
    margin-right: 16px;
    width:100px;
    height:100px;
}